apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-config
  namespace: solar-system
data:
  REACT_APP_BASE_URL: "/api/"
  REACT_APP_IMAGE_URL: "/api/images/"
  NGINX_CONF: |
    server {
      listen 80;
      server_name _;
      
      root /usr/share/nginx/html;
      index index.html index.htm;

      location / {
        try_files $uri $uri/ /index.html;
      }

      location /api/ {
        proxy_pass http://backend-service:5000/api/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
      }

      location /api/images/ {
        proxy_pass http://backend-service:5000/api/images/;
      }
    }