name: CI - Docker Build & Test

on:
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build containers
        run: docker compose build

      - name: Start containers
        run: docker compose up -d

      - name: Wait for services
        run: sleep 40

      - name: Check containers
        run: docker ps

      - name: Stop containers
        if: always()
        run: docker compose down -v